body {
/*    font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
/*    font-family: 'Yellowtail', cursive;*/
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, {
    margin: 0;
}

/*===========header==========*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    margin: 20px 15px;
}

.header_logo {
    font-size: 55px;
    color: #7EB693;

}

.header_nav {
    display: flex;
}

.nav_item {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #274C5B;
    margin-right: 40px;
    transition: color .2s linear, font-size .2s linear;
}

.nav_item:hover {
    color: #7EB693;
    font-size: 21px;
}

.img2 {
    width: 152px;
    height: auto;
}

.header_cart {
    width: 159px;
    height: 70px;
    border: 1px solid #D4D4D4;
    border-radius: 33px;
    display: flex;
    align-items: center;

}

.button {
    width: 56px;
    height: 56px;
    background: #274C5B;
    border-radius: 100px;
    margin-left: 11px;
    margin-right: 10px;
}

.button i {
    color: #FFFFFF;
    font-size: 21px;
}

.cart_text {
    margin-right: 7px;
}


/*=============welcome==========*/


.welcome {
    width: 100%;
    background: url("img/icon/IMAGE.jpg") center no-repeat;
    background-size: cover;
    height: 913px;
    padding-top: 220px;
    padding-left: 30px;
}



.welcome_title {
    font-family: 'Yellowtail', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    font-style: initial;

    color: #7EB693;
}


.welcome_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;

    letter-spacing: 0.36px;

    color: #274C5B;
    width: 496px;
    }

.welcome_button {
    width: 219px;
    height: 82px;
    background: #EFD372;
    border: 1px solid #EFD372;
    border-radius: 16px;
    display: flex;
    align-items: center;
    margin-top: 35px;
    transition: background .2s linear;
}

.welcome_button:hover {
    background: #f2c10d;
}


.btn_tetx {
    margin-left: 33px;
    font-family: 'Roboto';

    font-weight: 400;
    font-size: 19px;
    line-height: 32px;

    letter-spacing: 0.36px;

    color: #274C5B;
}

.welcome_btn {
    width: 38px;
    height: 34px;
    background: #335B6B;
    border: 0;
    border-radius: 50%;
    margin-left: 24px;
}

.btn_icon {
    margin-top: 2px;
}


/*==========natural=========*/

.natural {
    display: flex;
    margin-top: 140px;
    margin-bottom: 140px;
    padding: 0 30px;
    justify-content: center;
}

.natural_item {
    position: relative;
    margin-right: 50px;
}

.natural_item:last-child {
    margin-right: 0;
}

.natural_title {
    position: absolute;
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;

    letter-spacing: 0.36px;

    color: #FFFFFF;
    top: 105px;
    left: 55px;
}

.natural_text {
    position: absolute;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;

    letter-spacing: 0.36px;

    color: #FFFFFF;
    left: 55px;
    top: 169px;
    width: 264px;
}

.title-two {
    color: #7EB693;
}

.text-two {
    color: #274C5B;
}


/*=======about======*/

.about {
    display: flex;
    background-color: #F9F8F8;
    padding-top: 130px;
    padding-bottom: 150px;
    margin-bottom: 120px;
}


.about_photo img {
    border-radius: 50%;
}

.about_item {
    margin-left: 30px;
}

.about_subtitle {
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    letter-spacing: 0.36px;
    text-transform: capitalize;

    color: #7EB693;
}

.about_title {
    width: 521px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;

    letter-spacing: 0.36px;
    text-transform: capitalize;

    color: #274C5B;
}

.about_text {
    width: 670px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    letter-spacing: 0.36px;

    color: #525C60;
    margin-bottom: 58px;
}

.about_inner {
    display: flex;
    margin-bottom: 25px;
}



.about_inner_icon {
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    margin-right: 30px;
}


.about_inner_icon img {
    margin-top: 25px;
}

.inner {
    width: 552px;
}


.about_inner_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.36px;

    color: #274C5B;
}

.about_inner_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    letter-spacing: 0.36px;

    color: #525C60;
}

.about-btm {
    background: #274C5B;
    border: 2px solid #274C5B;
    border-radius: 16px;
}

.about-btm-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;

    letter-spacing: 0.6px;
    text-transform: capitalize;

    color: #FFFFFF;
}


/*==========organic=====*/

.organic {
    margin-bottom: 42px;
}

.organic_subtitle {
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.36px;
    text-transform: capitalize;

    color: #7EB693;
}


.organic_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;

    text-align: center;
    letter-spacing: 0.36px;
    text-transform: capitalize;

    color: #274C5B;
}


/*=========products======*/

.products {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    justify-content: space-between;
}


.products_item {
    width: 33.3333%;
    max-width: 447px;
    height: 590px;
    background: #F9F8F8;
    border-radius: 30px;
    padding: 30px 30px;
    margin: 0 10px;
    margin-bottom: 20px;

}

.products_button {
    width: 118px;
    height: 37px;
    background: #274C5B;
    border-radius: 8px;
    border: 0;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;

    letter-spacing: 0.36px;

    color: #FFFFFF;

    transition: background .2s linear;
}

.products_button:hover {
    background: #EFD372;
}

.products_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;

    letter-spacing: 0.36px;

    color: #274C5B;
}

.products_price {
    display: flex;
    border-top: 1px solid #D4D4D4;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;
    margin-top: 11px;
}

.products_inner {
    display: flex;
}

.products_before {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;

    letter-spacing: 0.36px;
    text-decoration-line: line-through;

    color: #B8B8B8;
    margin-right: 10px;
}

.products_after {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;

    letter-spacing: 0.36px;

    color: #274C5B;
}


/*==============testimonial==============*/


.testimonial {
    background: url("img/testimonial/IMAGE.jpg") center no-repeat;
    background-size: cover;
    height: 1248px;
    padding-top: 130px;
    margin-top: 119px;
    text-align: center;
}

.testimonial_intro {

}

.testimonial_photo {
    margin-top: 18px;
    margin-bottom: 20px;
}

.testimonial_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    text-align: center;
    letter-spacing: 0.36px;

    color: #525C60;

    margin-top: 34px;
    margin-bottom: 23px;
}


.testimonial_name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;

    text-align: center;
    letter-spacing: 0.36px;

    color: #274C5B;
}

.testimonial_user {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;

    text-align: center;
    letter-spacing: 0.36px;

    color: #525C60;
    width: 966px;
    border-bottom: 2px solid #E0E0E0;
    margin: 0 auto 105px;
    padding-bottom: 96px;
}

.testimonial_inner {
    display: flex;
    justify-content: center;
}

.testimonial_item {
    width: 250px;
    height: 250px;
    background: #F1F1F1;
    border: 6px solid #7EB693;
    border-radius: 200px;
    padding: 75px 0;
    margin-right: 35px;
}

.testimonial_item:last-child {
    margin-right: 0;
}

.testimonial_count {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;

    text-align: center;
    letter-spacing: 0.36px;

    color: #274C5B;
}

.testimonial_title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;

    text-align: center;
    letter-spacing: 0.36px;

    color: #274C5B;
}



/*===========offer============*/

.offer {
    background: #274C5B;
    padding: 139px 0 160px ;
}


.offer_inner {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    margin: 0 40px 48px 30px;
}

.offer_subtitle {
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;

    letter-spacing: 0.36px;
    text-transform: capitalize;

    color: #7EB693;
}

.offer_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.36px;
    text-transform: capitalize;

    color: #FFFFFF;
}

.offer_button {
    position: relative;
    width: 267px;
    height: 82px;
    background: #EFD372;
    border: 1px solid #EFD372;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 20px;
    transition: background .2s linear;
}

.offer_button:hover {
    background: #f2c10d
}

.offer_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.36px;
    text-transform: capitalize;

    color: #274C5B;
    margin-right: 20px;
}


.offer_btn {
    background: #335B6B;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.offer_icon {
    margin-top: 13px;
}



/*==========friendly========*/

.friendly {
    display: flex;
    position: relative;
}

.friendly_inner {
    width: 720px;
    height: 623px;
    background: #ffffff;
    border-radius: 30px 0px 0px 30px;
    position: absolute;
    left: 660px;
    top: 40px;
    z-index: 1;
    padding: 39px 60px;
}

.offer_title_products {
    color: #274C5B;
    width: 351px;
}

.friendly_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;

    letter-spacing: 0.36px;
    text-transform: capitalize;

    color: #274C5B;
    margin-bottom: 4px;
}


.friendly_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    letter-spacing: 0.36px;

    color: #525C60;
    margin-bottom: 9px;
}

.offer_products_friendly {
    margin-bottom: 29px;
}



/*============catalog===========*/

.catalog {
    background: #EFF6F1;
    display: flex;
    justify-content: space-between;
    padding: 140px 0;
}

.catalof_item {
    position: relative;
}

.catalog_btn {
    width: 281px;
    height: 95px;
    background: #FFFFFF;
    border-radius: 20px;
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.36px;

    color: #274C5B;
    transition: background .2s linear;
}

.catalog_btn:hover {
    background: #EFD372;
}






